<!DOCTYPE html>
<html>
<head>
  <title>项目</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/resource/css/base.css?v=99999999999">
  <link rel="stylesheet" type="text/css" href="/resource/css/home_swiper.css?v=99999999999">
  <link rel="stylesheet" type="text/css" href="/resource/css/sub_page.css?v=99999999999">
  <link rel="stylesheet" type="text/css" href="/resource/css/item.css?v=99999999999">
  <script type="text/javascript" src="/resource/data/data.js"></script>
  <script type="text/javascript" src="/res/lib/jquery_1_7_2.js"></script>
  <script type="text/javascript" src="/res/lib/home_swiper.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <du-header></du-header>
  <div>
    <div class="sub_title">
      <div class="project_name">{{projectItem.name}}</div>
      <div class="change_module">
        <span :class="{current: isPhoto, 'photo_btn': true}" @click="isPhoto = !isPhoto">照片</span>
        <span :class="{current: !isPhoto, 'design_btn': true}" @click="isPhoto = !isPhoto" v-if="projectItem.design > 0">设计</span>
      </div>
    </div> 
    <div class="project">

      <div class="project_slider" v-show="isPhoto">
        <div class="swiper-container photos_swiper_container">
          <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="item in projectItem.photos">
                <img :src="'/resource/images/project/' + projectItem.id + projectItem.name +'/照片/'+item+'.jpg'">
              </div>
          </div>
          <div class="swiper_btn swiper-button-prev" id="photoSwiperPrev" v-show="projectItem.photos > 1"></div>
          <div class="swiper_btn swiper-button-next" id="photoSwiperNext" v-show="projectItem.photos > 1"></div>
        </div>
        <div class="pagination photos_pagination" v-show="projectItem.photos > 1">
        </div>
      </div>

      <div class="project_slider" v-show="!isPhoto">
        <div class="swiper-container design_swiper_container">
          <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="item in projectItem.design">
                <img :src="'/resource/images/project/' + projectItem.id + projectItem.name +'/设计/'+item+'.jpg'">
              </div>
          </div>
          <div class="swiper-button-prev swiper_btn" id="designSwiperPrev" v-show="projectItem.design > 1"></div>
          <div class="swiper-button-next swiper_btn" id="designSwiperNext" v-show="projectItem.design > 1"></div>
        </div>
        <div class="pagination design_pagination" v-show="projectItem.design > 1">
        </div>
      </div>

    </div>
    <div class="project_intro clear_fix">
      <div class="left_module">
        <p v-for="intro in projectItem.intros">{{intro}}</p>
      </div>
      <div class="right_module">
        <dl>
          <dt>项目概况</dt>
          <dd v-if="projectItem.address">地点：<b>{{projectItem.address}}</b></dd>
          <dd v-if="projectItem.startTime">设计时间：<b>{{projectItem.startTime}}年</b></dd>
          <dd v-if="projectItem.endTime">竣工时间：<b>{{projectItem.endTime}}</b></dd>
          <dd v-if="projectItem.area">用地面积：<b>{{projectItem.area}}</b></dd>
          <dd v-if="projectItem.totalArea">总建筑面积：<b>{{projectItem.totalArea}}</b></dd>
          <dd v-if="projectItem.type">类型：<b>{{projectItem.type}}</b></dd>
          <dd v-if="projectItem.service">服务：<b>{{projectItem.service}}</b></dd>
        </dl>
        <dl v-show="projectItem.awards.length">
          <dt>奖项</dt>
          <dd v-for="award in projectItem.awards "><b>{{award}}</b></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="common_footer">
      <h5>上海都设营造建筑设计事务所有限公司</h5>
      <h6>沪备案号FDRE3GS</h6>
  </div>
</div>

<script src="/res/lib/vue.js"></script>
<script type="text/javascript" src="/dist/item.js?v=99999999999"></script>
</body>
</html>