<!DOCTYPE html>
<html>
<head>
  <title>都设设计</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/resource/css/base.css?v=113423">
  <link rel="stylesheet" type="text/css" href="/resource/css/home_swiper.css?v=113423">
  <link rel="stylesheet" type="text/css" href="/resource/css/sub_page.css?v=113423">
  <link rel="stylesheet" type="text/css" href="/resource/css/single.css?v=113423">
  <script type="text/javascript" src="/res/lib/jquery_1_7_2.js"></script>
</head>
<body>
<div id="app" v-cloak>

  <du-header></du-header>
  <div>
    <div class="sub_title">
      <div class="project_name">核心团队</div>
    </div>
    <div class="single_project">
        <div class="banner">
          <img src="/resource/images/jobs/banner1.jpg">
        </div>
        <div class="content member_content">
            <ul class="member_list clear_fix">
              <li class="clear_fix" v-for="item in contentList" @click=showDetail(item)>
                <img :src="'/resource/images/member/'+item.img+'.jpg'" class="left">
                <div class="left" style="width: 39%">
                  <div class="name">{{item.name}}</div>
                  <h4>{{item.title}}</h4>
                  <h4 v-if="item.subtitle">{{item.subtitle}}</h4>
                  <h4>{{item.honour}}</h4>
                  <!-- <div class="member_intro">
                    <p v-for="content in item.content">
                      {{content}}
                    </p>
                  </div> -->
                </div>
              </li>
            </ul>
        </div>
    </div>

    <div class="mask">
      <div class="mask_cotent">
        <div class="mask_message">
          <div class="close" >
            <i @click="closeMask" class="btn"></i>
          </div>
          <div class="box clear_fix">
            <div class="mask_position">
              <div class="mask_image">
                <img :src="'/resource/images/member/'+mask.img+'.jpg'" class="left">
                <!-- <p class="honour" v-if="mask.honour">{{mask.subhonour}}</p> -->
                <!-- <p class="school" v-if="mask.school">{{mask.school}}</p> -->
              </div>
              <div class="mask_intro">
                <span class="contentTitle">{{mask.title}}</span>
                <span class="contentTitle">{{mask.subtitle}}</span>
                <span class="contentTitle" v-if="mask.subhonour">{{mask.subhonour}}</span>
                <span class="contentTime">{{mask.name}}</span>
                <span class="contentMsg" v-for="(item, index) in mask.content">
                  <p v-if="index == 0">个人荣誉</p>
                  <p v-else="index == 0">个人代表作品</p>
                  {{item}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  


  </div>
  <du-footer></du-footer>
</div>

<script src="/res/lib/vue.js"></script>
<script type="text/javascript" src="/dist/member.js?v=113423"></script>
</body>
</html>