<!DOCTYPE html>
<html>
<head>
  <title>都设设计</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/resource/css/base.css?v=1123">
  <link rel="stylesheet" type="text/css" href="/resource/css/home_swiper.css?v=1123">
  <link rel="stylesheet" type="text/css" href="/resource/css/sub_page.css?v=1123">
  <link rel="stylesheet" type="text/css" href="/resource/css/project.css?v=1123">
  <script type="text/javascript" src="/resource/data/data.js"></script>
  <script type="text/javascript" src="/res/lib/jquery_1_7_2.js"></script>
  <script type="text/javascript" src="/res/lib/home_swiper.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <du-header></du-header>
  <div class="sub_title">
    {{subTitle}}
  </div> 
  <div class="project">
    <ul class="news_list clear_fix">
        <li v-for="(item, index) in itemData">
          <div>
            <a :href="item.link" v-if="item.link" target="_blank"></a>
            <img :src="'/resource/images/'+ type +'/' + (Number(index) + 1) + '/small.jpg'">
            <div class="project_intro">
              <span class="contentTitle">{{item.contentTitle}}</span>
              <span class="contentMsg" :style="{'-webkit-line-clamp': (type == 'news' ? 'inherit' : '2' )}">{{item.content}}</span>
              <span class="contentTime">{{item.contentTime}}</span>
            </div>
            
          </div>
        </li>
    </ul>
  </div>
  <div class="mask">
    <div class="mask_cotent">
      <div class="mask_message">
        <div class="close" @click="closeMask">X</div>
        <div class="box">
          <img :src="'/resource/images/'+ type +'/' + (Number(imgIndex) + 1) + '/big.jpg'" />
          <div class="mask_intro">
            <span class="contentTitle">{{mask.contentTitle}}</span>
            <span class="contentTime">{{mask.contentTime}}</span>
            <span class="contentMsg">{{mask.content}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <du-footer></du-footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="/dist/news.js?v=1123"></script>
</body>
</html>