<!DOCTYPE html>
<html>
<head>
  <title>都设设计</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/resource/css/base.css?v=4234">
  <link rel="stylesheet" type="text/css" href="/resource/css/home_swiper.css?v=4234">
  <link rel="stylesheet" type="text/css" href="/resource/css/sub_page.css?v=4234">
  <link rel="stylesheet" type="text/css" href="/resource/css/project.css?v=4234">
  <script type="text/javascript" src="/resource/data/data.js?v=4234"></script>
  <script type="text/javascript" src="/res/lib/jquery_1_7_2.js"></script>
  <script type="text/javascript" src="/res/lib/home_swiper.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <du-header></du-header>
  <div class="sub_title">
    华北
  </div> 
  <div class="project">
    <div class="project_slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in scrollItemData">
              <a :href="'item.html?projectId=' + item.id">
                <img :src="'/resource/images/project/' + item.id + item.name +'/照片/1.jpg'">
              </a>
            </div>
        </div>
        <div class="swiper-button-prev swiper_btn" id="designSwiperPrev" v-show="scrollItemData.length > 1"></div>
          <div class="swiper-button-next swiper_btn" id="designSwiperNext" v-show="scrollItemData.length > 1"></div>
      </div>
      <div class="pagination" v-show="scrollItemData.length > 1">
      </div>
      <span class="swiper_text"></span>
    </div>
    <ul class="project_list clear_fix">
        <li v-for="item in itemData">
          <div>
            <a :href="'item.html?projectId=' + item.id">
              <img :src="'/resource/images/project/' + item.id + item.name +'/照片/1.jpg'">
              <span class="project_intro">
                <span class="project_title">{{item.name}}</span>
                <span class="project_location">{{item.address}}</span>
              </span>
            </a>
          </div>
        </li>
    </ul>
  </div>
  <du-footer></du-footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="/dist/project.js?v=4234"></script>
</body>
</html>