body{
  display: none
}
.home_slider{
  position: relative;
  overflow: hidden;
}
.home_slider .swiper-container,
.home_slider .swiper-container div{
  height: 100%;
  overflow: hidden;
}
.home_slider .swiper-container div img{
  width: 100%;
  transform: scale(1.4);
  transition: 5s ease;
  // transform-origin: center center;
}
.home_slider .swiper-container div img.active{
  transform: scale(1)
}
.home_slider .pagination{
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 132px;
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}
.home_slider .pagination span{
  margin-left: 10px;
  float: left;
  display: block;
  border:1px solid #FFF;
  // background: ;
  width: 8px;
  height: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor: pointer;
}
.home_slider .pagination span.swiper-visible-switch{
  background: #FFF;
}
.home_footer{
  position: absolute;
  left: 0;
  bottom: 40px;
  padding-left: 50px;
  overflow: hidden;
  z-index: 99;
  box-sizing: border-box;
}
.home_footer .swiper_time{
  font-size: 14px;
  color: #FFF;
  margin-bottom: 5px;
  font-weight: lighter;
}
.home_footer .swiper_text{
  display: block;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
}
