body{
  display: none
}
.home_slider{
  position: relative;
  overflow: hidden;
}
.home_slider .swiper-container,
.home_slider .swiper-container div{
  height: 100%;
  overflow: hidden;
}
.home_slider .swiper-container div img{
  width: 100%;
  // transform: scale(1.4);
  // transition: 5s ease;
  // transform-origin: center center;
}
// .home_slider .swiper-container div img.active{
  // transform: scale(1.2)
// }
.home_slider .pagination{
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 132px;
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}
.home_slider .pagination span{
  margin-left: 10px;
  float: left;
  display: block;
  border:1px solid #FFF;
  // background: ;
  width: 8px;
  height: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor: pointer;
}
.home_slider .pagination span.swiper-visible-switch{
  background: #FFF;
}
.home_footer{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 50px;
  padding-bottom: 40px;
  overflow: hidden;
  z-index: 99;
  box-sizing: border-box;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* 标准的语法（必须放在最后*/
}


.swiper_btn{
  position: absolute;
  width: 52px;
  height: 52px;
  background: rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-position: center;
  top: 48%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 11;
}
.swiper-button-next{
  right: 40px;
  background-image: url('/resource/images/common/next.png')
}
.swiper-button-prev{
  left: 40px;
    background-image: url('/resource/images/common/prev.png')
}

.home_footer .swiper_time{
  font-size: 14px;
  color: #FFF;
  margin-bottom: 5px;
  font-weight: lighter;
}
.home_footer .swiper_text{
  display: block;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
}
.nav:hover{
  background: rgba(0,0,0,.5);
}
.nav .nav_list>li a:hover{
  color: #FFF;
}
.sub_nav{
  background: rgba(0,0,0,.5);
}
// .sub_project li h4{
//   color: #fff;
// }
.sub_project li a:hover{
  color: #FFF;
}
.sub_nav a:hover,
.sub_nav.single li a:hover{
  color: #FFF;
  font-weight: bold;
}

.sub_nav{
  border-top: 1px solid #2f2f2f;
}

.nav:hover .logo{
  background: url('/resource/images/common/logo.png') no-repeat;
}