.project_slider{
  // height: 680px;
  overflow: hidden;
  position: relative;
}
.project_slider .swiper-slide img{
  width: 100%;
}

.project_slider .pagination{
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 132px;
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}
.project_slider .pagination span{
  margin-left: 10px;
  float: left;
  display: block;
  border:1px solid #FFF;
  // background: ;
  width: 8px;
  height: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor: pointer;
}
.project_slider .pagination span.swiper-visible-switch{
  background: #FFF;
}

.project_slider .swiper_text{
  position: absolute;
  left: 0;
  bottom: 30px;
  padding-left: 50px;
  display: block;
  color: #FFF;
  font-size: 20px;
  z-index: 1;
  font-weight: lighter;
}
.project_list li{
  float: left;
  padding-top: 4px;
  padding-right: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  overflow: hidden;
}
.project_list li:nth-child(4n){
  padding-right: 0;
}
.project_list li div{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.project_list li div a{
  display: block;
  position: relative;
  height: 100%;
}
.project_list li div a .project_intro{
  // background: #000;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* 标准的语法（必须放在最后*/
}
.project_list li div a .project_intro span{
  display: block;
}

.project_list li div a .project_intro .project_title{
  color: #FFF;
  font-size: 16px;
  margin: 5px 0;
  font-weight: 200;
}
.project_list li div a .project_intro .project_location{
  color: #dfdfdf;
  font-size: 12px;
}
.project_list li img{
  transition: 1.5s ease;
  transform-origin:center center;
  height: 100%;
  position: absolute;
  margin-left: -40%;
}
.project_list li:hover img{
  transform: scale(1.1);
}
.project_list li:hover  div a .project_intro{
  display: block;
}
.swiper-container{
  // height: 840px;
  position: relative;
}

.swiper_btn{
  position: absolute;
  width: 20px;
  height: 38px;
  // background: #fff;
  top: 48%;
  cursor: pointer;
}
.swiper-button-next{
  right: 40px;
  background: url('/resource/images/common/next.png')
}
.swiper-button-prev{
  left: 40px;
    background: url('/resource/images/common/prev.png')
}


.news_list{
  padding: 0 50px;
}
.news_list li{
  cursor: pointer;
  float: left;
  padding-top: 4px;
  padding-right: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  overflow: hidden;
}
.news_list li:nth-child(4n){
  padding-right: 0;
}
.news_list li:nth-child(4n) div{
  padding-right: 7px;
  box-sizing: border-box;
}
.news_list li div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.news_list li div a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.news_list li div .project_intro{
  
}
.news_list li div .project_intro span{
  display: block;
}
.news_list li img{
  // transition: 1.5s ease;
  // transform-origin:center center;
  width: 100%;
}
.news_list li:hover img{
  // transform: scale(1.1);
}
.news_list li div .project_intro .contentTitle{
  color: #000;
  line-height: 30px;  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.news_list li div .project_intro .contentMsg{
  display: -webkit-box;    
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 2;    
  overflow: hidden;
  // white-space: nowrap;
}
.news_list li div .project_intro .contentTime{
  line-height: 30px;
}

.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 111;
  display: none;
}

.mask_cotent{
  background: #FFF;
  position: absolute;
  // overflow: scroll;
}
.mask_message{
  height: 100%;
  position: relative;
}
.mask_cotent img{
  width: 100%;
}
.mask .close{
  text-align: right;
  line-height: 40px;
  padding-right: 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  z-index: 1;
}
.mask_cotent .box{
  height: 100%;
  overflow: scroll;
  padding-top: 40px;
  box-sizing: border-box;
}

.mask_cotent  .mask_intro{
  padding: 0 6%
}


.mask_cotent .mask_intro span{
  display: block;
}
.mask_cotent .mask_intro .contentTitle{
  font-size: 16px;
  color: #000;
  padding-top: 30px;
  padding-bottom: 0;
}

.mask_cotent .mask_intro .contentTime {
  text-align: right;
}
.mask_cotent .mask_intro .contentMsg{
  padding-top: 10px;
  line-height: 22px;
  padding-bottom: 40px;
}

