.project_slider{
  height: 680px;
  overflow: hidden;
  position: relative;
}
.project_slider .swiper-slide img{
  width: 100%;
}

.project_slider .pagination{
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 132px;
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}
.project_slider .pagination span{
  margin-left: 10px;
  float: left;
  display: block;
  border:1px solid #FFF;
  // background: ;
  width: 8px;
  height: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor: pointer;
}
.project_slider .pagination span.swiper-visible-switch{
  background: #FFF;
}

.project_slider .swiper_text{
  position: absolute;
  left: 0;
  bottom: 30px;
  padding-left: 50px;
  display: block;
  color: #FFF;
  font-size: 20px;
  z-index: 1;
  font-weight: lighter;
}
.project_list li{
  float: left;
  padding-top: 4px;
  padding-right: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  overflow: hidden;
}
.project_list li:nth-child(4n){
  padding-right: 0;
}
.project_list li div{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.project_list li div a{
  display: block;
  position: relative;
  height: 100%;
}
.project_list li div a .project_intro{
  // background: #000;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1)); /* 标准的语法（必须放在最后*/
}
.project_list li div a .project_intro span{
  display: block;
}

.project_list li div a .project_intro .project_title{
  color: #FFF;
  font-size: 16px;
  margin: 5px 0;
}
.project_list li div a .project_intro .project_location{
  color: #dfdfdf;
  font-size: 12px;
}
.project_list li img{
  transition: 1.5s ease;
  transform-origin:center center;
  height: 100%;
  position: absolute;
  margin-left: -40%;
}
.project_list li:hover img{
  transform: scale(1.2);
}
.project_list li:hover  div a .project_intro{
  display: block;
}
.swiper-container{
  height: 680px;
}