.project_slider{
  height: 680px;
  overflow: hidden;
  position: relative;
}

.project_slider .pagination{
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 132px;
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}
.project_slider .pagination span{
  margin-left: 10px;
  float: left;
  display: block;
  border:1px solid #FFF;
  // background: ;
  width: 8px;
  height: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor: pointer;
}
.project_slider .pagination span.swiper-visible-switch{
  background: #FFF;
}

.project_slider .swiper_text{
  position: absolute;
  left: 0;
  bottom: 30px;
  padding-left: 50px;
  display: block;
  color: #FFF;
  font-size: 20px;
  z-index: 1;
  font-weight: lighter;
}
.project_list li{
  float: left;
  padding-top: 4px;
  padding-right: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  overflow: hidden;
}
.project_list li:nth-child(4n){
  padding-right: 0;
}
.project_list li div{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.project_list li img{
  transition: 3s ease;
  transform-origin:center center;
}
.project_list li:hover img{
  transform: scale(1.3)
}