.single_project .banner img{
  display: block;
  width: 100%;
}

.single_project .content {
  padding: 50px 5%;
}

.single_project .content.awards_content {
  padding: 50px 2% 0 10%;
}

.single_project .content.jobs_content{
  padding: 50px 5% 150px 5%;
}
.single_project .content .line{
  margin:40px 0 50px 0;
  height: 1px;
  background: #d3d3d3;
  margin-right: 8%;
}
// .single_project .content .list:nth-child(1){
//   margin-top: 50px;
// }
.single_project .content .list:last-child{
  margin-bottom: 50px;
}
.single_project .content .list li {
  box-sizing: border-box;
  width: 25%;
  padding-right: 8%;
  float: left;
  text-align: center;
  color: #000;
}
.single_project .content .list li h3 {
  font-size: 16px;
  color: #000;
  font-weight: 200;
  padding-top: 5px;
}
.single_project .content .list li h4 {
  padding-top: 5px;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;
  font-weight: 200;
  color: #0c0c0c;
}
.single_project .content .list li h5 {
  padding-top: 5px;
  font-weight: 200;
  color: #0c0c0c;
}
.single_project .content .list li img{
  width: 100%;
}

.single_project .content .content_box .content_title{
  font-size: 14px;
  color: #000;
}

.single_project .content .content_box .content_msg{
  color: #6d6d6d;
  line-height: 22px;
}
.single_project .content .content_box .content_msg p {
  color: #000;
}

.single_project .member_content{
  padding: 0 4% 50px 4%;
}

.single_project .member_content li {
  width: 33%;
  float: left;
  margin-top: 30px;
  height: 150px;
  overflow: hidden;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.single_project .member_content li img{
  float: left;
  width: 55%;
  margin-right: 5%;
}
.single_project .member_content li .name {
  margin-top: 8px;
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.single_project .member_content li h4 {
  margin-bottom: 5px;
  font-weight: normal;
  color: #000;
  font-size: 12px;
}
.single_project .member_content .member_intro {
  margin-top: 19px;
}
.single_project .member_content .member_intro p {
  text-indent: 24px;
  line-height: 18px;
}

.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 111;
  display: none;
}

.mask_cotent{
  background: #FFF;
  position: absolute;
  // overflow: scroll;
}
.mask_message{
  height: 100%;
  position: relative;
}
.mask .close{
  text-align: right;
  line-height: 40px;
  height: 40px;
  padding-right: 8px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}
.mask .close .btn{
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/common/close.png') center no-repeat;
  margin-top: 8px;
}
.mask_cotent .box{
  padding: 0 40px;
  height: 100%;
  overflow: scroll;
  padding-top: 40px;
  box-sizing: border-box;
}
.mask_cotent .mask_position{
  position: relative;
  padding-left: 250px;
}

.mask_cotent .mask_image {
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  // color: #000
}
.mask_cotent .mask_image .honour{

}
.mask_cotent .mask_image .school{
  margin-top: 10px;
}
.mask_cotent .mask_image img{
  width: 100%;
  margin-bottom: 20px;
}
.mask_cotent .mask_intro {
  font-weight: 200;
  font-size: 14px;
}
.mask_cotent .mask_intro span{
  display: block;
}
.mask_cotent .mask_intro .contentTitle{
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}
.mask_cotent .mask_intro .contentTime {
  font-size: 24px;
  color: #000;
  margin: 20px 0;
  font-weight: 400;
}
.mask_cotent .mask_intro .contentMsg{
  margin-bottom: 15px;
  line-height: 26px;
  // color: #000
}

