.nav{
  position: relative;
}

.nav,
.nav:hover{
  background: rgba(0,0,0,.5);
}
.nav .nav_list>li a:hover{
  color: #FFF;
}
.sub_nav{
  background: rgba(0,0,0,.5);
}
.sub_project li h4{
  color: #595959;
  font-size: 14px;
  text-align: left;
}

.nav .nav_list>li a{
  display: block;
  height: 100%;
  color: #a0a0a0;
}
.nav:hover .nav_list>li a{
  color: #a0a0a0;
}

.nav:hover .nav_list>li a:hover{
  color: #FFF;
}
.sub_project li a:hover{
  color: #FFF;
}
.sub_nav a:hover,
.sub_nav.single li a:hover{
  color: #FFF;
  font-weight: bold;
}

.sub_nav{
  border-top: 1px solid #2f2f2f;
}

.nav:hover .logo{
  background: url('/resource/images/common/logo.png') no-repeat;
}
.sub_nav.single li a.current,
.sub_nav a.current{
  color: #FFF;
}

.sub_title{
  width: 100%;
  min-height: 90px;
  background: #FFF;
  border-top: 1px solid #b5b5b5;
  padding-left: 50px;
  box-sizing: border-box;
  line-height: 90px;
  font-size: 24px;
  color: #424242;
  padding-right: 90px;
  font-weight: 200;
}