.apply_form {
    padding-bottom: 60px;
}
.apply_form h2{
    font-size: .15rem;
    padding: 10px;
    border-bottom: 1px solid #aeadad;
    background: #d95920;
    text-align: center;
    line-height: 28px;
    color: #FFF;
}
input::-webkit-input-placeholder{
  color: #888;
}
.apply_form .apply_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: .16rem;
    text-align: center;
    background: #d95920;
    color: #FFF;
    letter-spacing: 10px;
}
.apply_form .apply{
    padding: 0 10px;
}
.apply_form .apply dt{
    color: #356579;
    font-size: .14rem;
    margin: 15px 0 5px 0;
}
.apply_form .apply i{
    color: #f5ac7f;
    margin-left: 5px;
}
.apply_form .apply dd{
    overflow: hidden;
    position: relative;
}
.apply_form .apply dd .demo{
    font-size: .11rem;
    margin: 5px 0 10px 0;
    line-height: .14rem;
}
.apply_form .apply dd label{
    display: block;
}
.apply_form .apply dd label.db{
    display: block;
    margin: 10px 0;
}
.apply_form .apply dd label.w25{
    float: left;
    width: 25%;
}
.apply_form .apply dd input[type=text],
.apply_form .apply dd input[type=number],
.apply_form .apply dd .analog_input{
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 4px 0;
    // box-shadow: 1px 1px 5px #aaaaaa,1px 1px 5px #aaaaaa inset;
    padding-left: 10px;
    position: relative;
}

.apply_form .apply dd .analog_input::after{
    position: absolute;
    right: 10px;
    top: 9px;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #333333;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.apply_form .apply dd input[type=radio]{
    position: absolute;
    display: none;
}
.apply_form .apply dd input[type=radio] + i{
    background: url('../images/apply_radio_image.png') no-repeat;
    background-size: 34px 17px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: -4px;
}
.apply_form .apply dd input[type=radio]:checked + i{
    background-position: right top;
}

.apply_form .apply dd input[type=checkbox]{
    position: absolute;
    display: none;
}
.apply_form .apply dd input[type=checkbox] + i{
    background: url('../images/apply_checkbox.png') no-repeat;
    background-size: 34px 17px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: -4px;
}
.apply_form .apply dd input[type=checkbox]:checked + i{
    background-position: right top;
}


.apply_form .apply dd .yesorno_model{
    margin-top: 10px;
}
.apply_form .apply dd .yesorno_model h3{
    color: #FFF;
    background: #ee775f;
    height: 30px;
    line-height: 30px;
    padding-left: 3px;
}
.apply_form .apply dd .yesorno_model div{
    line-height: 30px;
    border:1px solid #ee775f;
    padding-left: 5px;
}
.apply_form .apply dd .yesorno_model div:last-child{
    border-top: 0;
}

.apply_form .apply dd.send_code{ 

}
.apply_form .apply dd.send_code div.first{
    width: 50%;
    float: left;
    padding-right: 30px;
}
.apply_form .apply dd.send_code div.second{
    width: 50%;
    float: left;
    position: relative;
    padding-left: 90px;
}
.apply_form .apply dd.send_code .title{
    position: absolute;
    left: 0;
    top: 4px;
    width: 80px;
    text-align: center;
    background: #356579;
    height: 30px;
    color: #FFF;
}
.apply_form .apply dd.send_code .title.disable{
    background: #c4c4c4;
}

.apply_form .select_option{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 30px;
    opacity: 0;
}

.apply_form .table_model {
    border-top: 1px solid #cd6854;
    border-left: 1px solid #cd6854;
    color: #6191a6;
}
.apply_form .table_model ul li{
    width: 25%;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #cd6854;
    border-right: 1px solid #cd6854;
}
.apply_form .table_model ul.row_title{
    background: #ee775f;
    color: #FFF;
}