.apply2{

}
.apply2 ul {
  position: relative;
    overflow: hidden;
}
.apply2 ul .line{
  background: #559fb8;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 25px;
  left: 25px;

}
.apply2 li{
  position: relative;
  padding-left: 50px;
}
.apply2 li .count{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #559fb8;
  line-height: 20px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  top: 15px;
  left: 15px;
}
// .apply2 li .count:after{
//   position: absolute;
//   top: ;
//   left: 
// }
.apply2 li div{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #d3d3d3;
  position: relative;
}
.apply2 li div .title,
.apply2 li div .icon{
 float: right;
 width: 50px;
 text-align: center;
 height: 50px;
 color: #1577da;
}
.apply2 li div .icon{
  background: url(../images/apply2_icon1.jpg) no-repeat center;
  display: block;
  height: 50px;
}
.apply2 li div input{
  position: absolute;
  right: 50px;
  font-size: 14px;
  height: 48px;
  top: 0px;
  width: 130px;
  text-align: right;
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.next_btn{
  background: #f56435;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}
input{
  color: #2690e8;
}
input::-webkit-input-placeholder{
  color: #c7c7c7;
}

.apply2 li article div{
  position: relative;

}
.apply2 li article div:after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #549eb7;
  border-radius: 5px;
  left: -27px;
  top: 23px;
}
.apply2_next.apply2 li>div input{
  width: 160px;
  right: 10px;
}

.apply2_next.apply2 li.first>div input{
  width: 130px;
  right: 50px;
}
