body{
  background-color: #ececec;
}
.register{
  padding: 0 15px;
}

.register ul li{
  height: 40px;
  line-height: 40px;
  border:1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #FFF;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}
.register ul li label{
  height: 36px;
  line-height: 36px;
  display: block;
}
.register ul li input{
  height: 38px;
  line-height: 38px;
}
.register ul li:nth-child(1){
  background-image: url('/static/images/bind_icon1.jpg');
}
.register ul li:nth-child(2){
  background-image: url('/static/images/bind_icon2.jpg');
}
.register ul li:nth-child(3){
  background-image: url('/static/images/bind_icon3.jpg');
}
.register ul li img,
.register ul li button{
  float: right;
  width: 90px;
  height: 38px;
    font-size: 14px;
}
.register ul li button{
  margin-top: 1px;
  background-color: #FFF;
  height: 34px;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 3px #000;
}
input::-webkit-input-placeholder{
  color: #666;
    font-size: 14px;
}
.register_btn{
  display: block;
  background:#fa6a2d;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: #FFF;
  margin-top: 30px;
}
.protocol{
  margin: 20px auto;
  width: 90%;
  padding-left: 40px;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.protocol span{
  color: #fe704c;
  font-size: 14px;
}
.protocol_icon{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 50px;
}
.protocol_icon i{
  width: 30px;
  height: 30px;
  display: block;
  background: url('/static/images/bind_icon4.png') no-repeat 0px top;
}
.protocol_icon i.current{
  background: url('/static/images/bind_icon5.png') no-repeat 0px top;
}
// .protocol.current{
//  background: url('/static/images/bind_icon4.jpg') no-repeat 0px top;
// }
.protocol input{
  position: absolute;
  display: none;
}



.mask{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: rgba(0,0,0,.9);
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  text-align: left;
  line-height: 18px;
}
.mask h2{
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
.mask h3{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated{
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
.mask1,
.mask2{
  display: none;
}