.commission{
  padding-bottom: 50px;
}
.commission_banner{
  background: #fd9826;
}
.commission_banner div{
  width: 50%;
  float: left;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #d67100;
  color: #FFF;
}
.commission_banner div span{
  font-size: 20px;
  display: block;
  margin-top: 15px;
}
.commission_banner div:first-child{
  border-right: 1px solid #d67100;
}
.commission_banner div em{
  margin-top: 10px;
  display: block;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
}
.commission_title{
  font-size: 16px;
  padding-left: 20px;
  margin-top: 10px;
}
.commission_list .no_record{
  text-align: center;
  line-height: 100px;
}
.commission_list ul{
  padding: 0 20px 20px 20px;
}
.commission_list ul li{
  margin-top: 15px;
  padding-left: 5px;
  font-size: 14px;
}
.commission_list ul li .title{
  margin-right: 20px;
}
.commission_list ul li .change{
  margin-right: 20px;
  display: inline-block;
  width: 80px;
}
.commission_list ul li .change.plus{
  color: blue;
}
.commission_list ul li .change.minus{
  color: red;
}
.commission_list ul li .time{
  
}

.register_btn{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 50px;
    background: #f2955c;
    color: #FFF;
    font-size: .16rem;
    text-align: center;
    line-height: 50px;
}