body{
  background: #dcdcdc;
}
.select_model{
    background: #3a76ff;
    padding: 10px 5%;
    height: 50px;
}
.select_model .select{
    width: 80%;
    float: left;
    position: relative;
    padding-right: 20px;
    height: 30px;
}
.select_model .select .input_model{
    height: 30px;
    width: 100%;
    background: #3067ab;
    padding-left: 26px;
    color: #FFF;
    padding-top:6px;
    border-radius: 4px;
}
// .select_model .select .input_model em{
//     width: 100px;
//     background: none;
//     color: #FFF;
//     height: 20px;
//     vertical-align: middle;
//     line-height: 20px;
//     font-size: .12rem;
// }

.select_model .select .input_model input{
    width: 100%;
    background: none;
    color: #FFF;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    font-size: .12rem;
}


.select_model .select span{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    display: block;
    background: #1c93bf;
    color: #FFF;
    font-size: .12rem;
    text-align: center;
    line-height: 30px;
}
.select_model .select .search_icon{
    width: 15px;
    height: 13px;
    background: url(/static/images/index/search_btn.png) no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 10px;
    left: 6px;
}
.select_model .select .search_price{
    width: 15px;
    height: 13px;
    color: #FFF;
    margin-left: 13px;
    vertical-align: middle;
}
.select_model .address{
    width: 20%;
    float: left;
    text-align: center;
    color: #FFF;
    padding-top: 8px;
}
.select_model .address i{
    width: 13px;
    height: 14px;
    display: inline-block;
    background: url(/static/images/address.png) no-repeat;
    background-size: 100%;
    vertical-align: text-bottom;
}

.city_model{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}


.city_actionsheet {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 4;
  width: 100%;
  height: 100%;

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform .3s;
}
.city_actionsheet_toggle {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
.city_actionsheet div{
    float: left;
    height: 100%;
    width: 70%;
    background-color: rgba(0,0,0,.5);
}
.city_actionsheet ul{
    float: left;
    padding: 0 2px;
    width: 30%;
    height: 100%;
    background-color: #eee;
    overflow: scroll;
}
.city_actionsheet ul li{
    line-height: 30px;
    border-bottom: 1px solid  #8e8e8e;
    padding-left: 5px;
}
.city_actionsheet ul li h4{
    font-weight: bold;
}
.city_actionsheet ul li span{
    display: block;
    padding-left: 10px;
    border-top: 1px solid #8e8e8e;
}
.top_list{
  height: 120px;
  background: #3a76ff;
  margin-top: -1px;
  overflow: hidden;
}
.top_list li{
  margin: 20px 0;
  text-align: center;
  width: 25%;
  float: left;
}
.top_list li img{
  width: 50px;
  height: 50px;
}
.top_list li span{
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #FFF;
}
.center_list{
  padding: 20px 0;
  background: #FFF;
}
.center_list li{
  width: 25%;
  float: left;
  text-align: center;
  margin-bottom: 15px;
}
.center_list li img{
  width: 35px;
  height: 35px;
}
.center_list li span{
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #000000;
}

.search_list{
  margin-top: 10px;
}
.search_list h3{
  background: #fff;
    border-bottom: 1px solid #bcbbbb;
    padding: 10px 0;
    padding-left: 20px;
}
.search_list h3 span{
  font-size: 14px;
  color: #165533;
  border-left: 2px solid #165533;
  padding-left: 5px;
}

.search_list .product_list{
   background: #fff;
    padding-left: 10px;
    padding-right: 10px;

}
.search_list .product_list li {
    border-bottom: 1px solid #dcdbdb;
    padding: 10px 0;
    position: relative;
    height: 80px;
}
.search_list .product_list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.search_list .product_list li:last-child{
    border-bottom: 0;
}
.search_list .product_list li div{
    float: left;
}
.search_list .product_list li .product_img{
    width: 60px;
    height: 60px;
    position: absolute;
}
.search_list .product_list li .product_img img{
    display: block;
    width: 100%;
    height: 100%;
}
.search_list .product_list li .product_img{
    border: 1px solid #b6b5b5;
}
.search_list .product_list li .product_module{
    padding-left: 70px;
    width: 100%;
}
.search_list .product_list li .product_module h2{
    font-size: .16rem;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    padding-right: 1rem;
}
.search_list .product_list li .product_module h2 span.title_model{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: .18rem;
}
.search_list .product_list li .product_module h2 span.link{
    float: right;
    font-size: .10rem;
    width: 1.0rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #939393;
}
.search_list .product_list li .product_module h2 i{
    border: 1px solid #ba8445;
    color: #ba8445;
    display: inline-block;
    font-size: .11rem;
    margin-left: 5px;
    padding: 2px 4px;
    vertical-align: middle;
}
.search_list .product_list li .product_module div{
    width: 50%;
    float: left;
    height: 20px;
}
.credit_list h3{
  background: #fff;
    border-bottom: 1px solid #bcbbbb;
    padding: 10px 0;
    padding-left: 20px;
}
.credit_list h3 span{
  font-size: 14px;
  color: #8a256a;
  border-left: 2px solid #8a256a;
  padding-left: 5px;
}

.credit_list .product_list li{
  padding: 10px 0;
}
.credit_list .product_list li .product_img{
  width: 80px;
  height: 50px;
  margin-top: 4px;
}
.credit_list .product_list li .product_module{
  padding-left:100px;
}
.credit_list .product_list li .product_module div{
  height: 32px;
  width: 100%;
  line-height: 16px;
  color: #585858;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.credit_list .product_list li .product_module h2{
  margin-top: -4px;
}

.fast_search{
    padding-bottom: 40px;
}
.fast_search .search_keyword {
    padding: 10px;
    border-bottom: 5px solid #aeadad;
}
.fast_search .search_keyword .keyword_title{
    float: left;
    width: 14%;
    line-height: 34px;
    padding-right: 10px;
    text-align: center;
    color:#000;
    font-size: 30px;
}
.fast_search .search_keyword .keyword_input{
    float: left;
    width: 86%;
    border:1px solid #aeadad;
    border-radius: 10px;
    height: 36px;
    padding: 0 65px 0 5px;
    overflow: hidden;
    position: relative;
}
.fast_search .search_keyword .keyword_input input{
    height: 30px;
    margin-top: 3px;
    width: 100%;
}
.fast_search .search_keyword .keyword_input input::-webkit-input-placeholder{
  color: #b6b3b3;
}
.fast_search .search_keyword .keyword_input .search_btn{
    background: #718d97;
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 36px;
    right: 0;
    top: 0;
    line-height: 34px;
}

.fast_search .search_keyword .keyword_prompt{
    color: #b8b8b8;
    margin: 5px;
    margin-top: 15px;
}
.fast_search .search_keyword .keyword_example span{
    width: 33.33%;
    float: left;
    color: #b8b8b8;
    padding: 5px;
}
.fast_search .search_params {
    padding: 10px;
}
.fast_search .search_params .search_price .price_title{
    float: left;
    width: 30%;
    line-height: 36px;
    padding-right: 10px;
    color:#000;
}

.fast_search .search_params .search_price .keyword_input{
    float: left;
    width: 70%;
    border:1px solid #aeadad;
    border-radius: 10px;
    height: 36px;
    padding: 0 65px 0 5px;
    overflow: hidden;
    position: relative;
}
.fast_search .search_params .search_price .keyword_input input{
    height: 30px;
    margin-top: 3px;
    width: 100%;
    text-align: center;
    font-size: .14rem;
}
.fast_search .search_params .search_price .keyword_input::-webkit-input-placeholder{
  color: #b6b3b3;
}
.fast_search .search_params .search_price .keyword_input .search_btn{
    color: #000;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 36px;
    right: 0;
    top: 0;
    line-height: 34px;
}
.fast_search .search_params dl dt{
    color: #424242;
    padding: 10px 0;
    font-size: .16rem;
    margin-top: 10px;
}
.fast_search .search_params dl dd{
    border-bottom: 1px solid #aeadad;
    padding-bottom: 10px;
}
.fast_search .search_params dl dd label{
    width: 25%;
    float: left;
    margin-top: 10px;
}
.fast_search .search_params dl dd label span{
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #d5d5d5;
    border-radius: 4px;
    color: #000;
}
.fast_search .search_params dl dd input{
    position: absolute;
    opacity: 0;
}
.fast_search .search_params dl dd input:checked + span{
    background: #718d97;
    color: #FFF;
}
.fast_search .foot_btn{
    height: 38px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.fast_search .foot_btn span{
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
    font-size: .14rem;
    line-height: 36px;
}
.fast_search .foot_btn span.reset{
    background: #FFF;
    color: #b2b2b2;
    border-top:1px solid #718d97;
}
.fast_search .foot_btn span.search{
    border-top:1px solid #718d97;
    background: #718d97;
    color: #FFF;
}

.search_actionsheet {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform .3s;
}
.search_actionsheet_toggle {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
.global_action_sheet{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0rem;
    background: #FFF;
    padding-bottom: 90px;
/*    background: #000;*/
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
/*    opacity: .5;
    filter: alpha(opacity=50);*/
}

.collect_icon,
.register_icon,
.bind_icon{
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border:  1px solid #7b7b7b;
    background: #FFF;
    z-index: 2px;
    text-align: center;
}
.collect_icon i,
.register_icon i{
    background: url(/static/images/collect.jpg) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 19px;
    display: block;
    margin: 4px auto;
}
.register_icon i{
    background: url(/static/images/register_icon.png) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
a.register_icon {

    bottom: 50px;
    background: #559fb8;
    border: 1px solid #559fb8;
    color: #FFF;
    line-height: 40px;
    padding-top: 5px;
}
a.bind_icon{
  border:  1px solid #559fb8;
  background: #559fb8;
  bottom: 120px;
  line-height: 18px;
  padding-top: 5px;
  line-height: 40px;
  color: #FFF;
}
