.product{
background: #dbdbdb;
padding-bottom: 60px;
}
.product .product_title{
    padding: 10px;
    background: #FFF;
}
.product .product_title .product_img{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    float: left;
    margin-right: 10px;
}
.product .product_title .product_img img{
    width: 100%;
    height: 100%;
    display: block;
}
.product .product_title .product_name{
    float: left;
}
.product .product_title .product_name h2{
    font-size: .14rem;
    margin: 5px 0 12px 0;
    color: #000;
}
.product .product_title .product_name h2 span{
    font-size: .10rem;
    border:1px solid #ad6d22;
    color: #ad6d22;
    margin-left: 10px;
    padding: 0 2px;
}
.product .product_content{
    padding:0 10px;
    background: #FFF;
    padding-bottom: 10px;
}
.product .product_content .input_model>div{
    width: 50%;
    float: left;
}
.product .product_content .input_model .amount{
    font-size: .14rem;
    position: relative;
}
.product .product_content .input_model .amount .input{
    width: 100px;
    border:1px solid #bab9b9;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
    margin-bottom: 5px;
}
.product .product_content .input_model .amount input{
    width: 70px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    margin-left: 4px;
    border-radius: 10px;
    margin-top: 2px;
    color: #1c93bf;
    font-size: .14rem;
}
.product .product_content .input_model .amount p,
.product .product_content .input_model .time p{
    font-size: .12rem;
}

.product .product_content .input_model .time{
    font-size: .14rem;
}
.product .product_content .input_model .time .input{
    width: 100px;
    border:1px solid #bab9b9;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.product .product_content .input_model .time .term{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: #1c93bf;
}
.product .product_content .input_model .time .input select{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
}
.product .product_content .price_progress {
    margin-top: 10px;
}
.product .product_content .price_progress .progress{
    position: relative;
    height: 36px;
    overflow: hidden;
}
.product .product_content .price_progress .progress span{
    width: 100%;
    height: 100%;
    float: left;
}
.product .product_content .price_progress .progress div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product .product_content .price_progress .progress span.lixi{
    background: #ee8f55;
}
.product .product_content .price_progress .progress span.daikuan{
    background: #85bbcf;
}
.product .product_content .price_progress .progress span.feiyong{
    background: #4c707c;
}
.product .product_content .price_progress  .progress_title{
    margin-top: 10px;
}
.product .product_content .price_progress  .progress_title li{
    width: 50%;
    float: left;
    line-height: 20px;
    font-size: .11rem;
    position: relative;
    padding-left: 16px;
}
.product .product_content .price_progress  .progress_title li::after{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: "";
    background: #000;
    left:5px;
    top: 6px;
}
.product .product_content .price_progress  .progress_title li:nth-child(1)::after{
    background: #ee8f55;
}
.product .product_content .price_progress  .progress_title li:nth-child(2)::after{
    background: #85bbcf;
}
.product .product_content .price_progress  .progress_title li:nth-child(3)::after{
    background: #eddc4e;
}
.product .product_content .price_progress  .progress_title li:nth-child(4)::after{
    background: #4c707c;
}


.product .product_content h3{
    background: #FFF;
    font-size: .14rem;
    color: #000;
    margin: 10px 0;
}
.product .product_content p.text{
    line-height: .14rem;
}
.product .product_content .table1{
    width: 100%;
}
.product .product_content .table1 td,
.product .product_content .table1 th{
    border:1px solid #020100; margin-left:-1px; margin-top:-1px;
    text-align: center;
}
.product .product_content .table1 th{
    font-size: .12rem;
}
.product .product_content .table1 th:nth-child(1){
    width: 30%
}
.product .product_content .table1 th:nth-child(2){
    width: 25%
}
.product .product_content .table1 th:nth-child(3){
    width: 25%
}
.product .product_content .table1 th:nth-child(4){
    width: 20%
}



.product_model{
    margin-top: 10px;
}
.product_model h3{
    background: #FFF;
    padding: 10px;
    font-size: .14rem;
    border-bottom: 1px solid #aeadad;
    color: #000;
}
.product_model>div{
    padding: 10px;
    background: #FFF;
}

.product .prodcut_footer{
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.product .prodcut_footer .collect{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    display: block;
    background: #FFF;
}
.product .prodcut_footer .collect i{
    background: url('../images/collect.jpg') no-repeat;
    background-size: 100%;
    width: 20px;
    height: 19px;
    display: block;
    margin: 5px auto;
}
.product .prodcut_footer .collect.has_favorite i{
    background: url('../images/collected.jpg') no-repeat;
    background-size: 100%;
}

.product .prodcut_footer .apply{
    width: 80%;
    height: 100%;
    background: #f2955c;
    color: #000;
    text-align: center;
    display: block;
    float: left;
    line-height: 50px;
    font-size: .16rem;
    position: relative;
}
.product .prodcut_footer .apply .apply_list{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.product .prodcut_footer .apply .apply_list li{
    color: #000;
    background: #839fa9;
    border-bottom: 2px solid #FFF;
    height: 40px;
    line-height: 40px;
}
.product .prodcut_footer .apply .apply_list li a{
    display: block;
    height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.product .grey_color{
    color: #7b7b7b;
}

.bind_icon{
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border:  1px solid #7b7b7b;
    background: #FFF;
    z-index: 2px;
    text-align: center;
}
.bind_icon{
    bottom: 80px;
    line-height: 18px;
    padding-top: 5px;
}